<div id="argument-<%= argument.id %>" class="argument pt-4 pb-4">
  <div class="content">
    <%- mdRender(argument.body) %>
  </div>
  <div class="details d-flex justify-content-between">
    <div class="actions">
      <small>
        <span data-controller="clipboard">
          <a href="#" class="text-secondary" data-action="clipboard#copy" data-clipboard-text="todo">Ref</a>
        </span>
        <% if (currentUser && argument.author_id == currentUser.id) { %>
          <a href="/propositions/<%= proposition.id %>/arguments/<%= argument.id %>/edit" class="text-secondary">Edit</a>
          <form id="argument-<%= argument.id %>-destroy-form" action="/propositions/<%= proposition.id %>/arguments/<%= argument.id %>?_method=DELETE" method="POST" style="display: none;"></form>
          <a href="#" onclick="event.preventDefault(); if(confirm('Are you sure?')) { document.getElementById('argument-<%= argument.id %>-destroy-form').submit(); }" class="text-secondary">Delete</a>
        <% } %>
      </small>
    </div>
    <div class="author-info">
      <small>
        by <a href="#"><%= argument.author_username %></a>
        <%= timeAgoInWords(argument.created_at) %>
      </small>
    </div>
  </div>
</div>