<%- include('../partials/header') %>

<div id="proposition" class="d-flex justify-content-start mb-4">

  <div class="votes me-4">
    <button class="btn btn-outline-secondary btn-sm">▲</button>
    <h5 class="pt-2"><%= proposition.cached_votes_total %></h5>
    <button class="btn btn-outline-secondary btn-sm">▼</button>
  </div>

  <div class="content">
    <h2 class="title"><%= proposition.body %></h2>

    <% if (proposition.description) { %>
      <div class="description">
        <small>
          <%- mdRender(proposition.description) %>
        </small>
      </div>
    <% } %>

    <div class="details d-flex justify-content-between">
      <div class="actions">
        <small>
          <span data-controller="clipboard">
            <a href="#" class="text-secondary" data-action="clipboard#copy" data-clipboard-text="todo">Ref</a>
          </span>
          <% if (proposition.author_id == user.id) { %>
            <a href="/propositions/<%= proposition.slug %>/edit" class="text-secondary">Edit</a>
            <a href="/propositions/<%= proposition.slug %>" data-turbo-method="delete" data-turbo-confirm="Are you sure?" class="text-secondary">Delete</a>
          <% } %>
        </small>
      </div>

      <div>
        <small>
          by <a href="#"><%= proposition.author_username %></a>
          <%= timeAgoInWords(proposition.created_at) %>
        </small>
      </div>

    </div>

  </div>
</div>

<div id="arguments" class="row gx-5">
  <div class="col">
      <div class="yes-side-header d-flex justify-content-between">
          <div class="name">Yes</div>
          <a class="btn btn-dark" href="#">Add</a>
      </div>
      <div class="yes-side-arguments">
        <% proposition.yes_arguments.forEach(function(argument) { %>
          <%- include('_argument', { argument: argument }) %>
        <% }); %>
      </div>
  </div>
  <div class="col">
      <div class="no-side-header d-flex justify-content-between">
          <div class="name">No</div>
          <a class="btn btn-dark" href="#">Add</a>
      </div>
      <div class="no-side-arguments">
        <% proposition.no_arguments.forEach(function(argument) { %>
          <%- include('_argument', { argument: argument }) %>
        <% }); %>
      </div>
  </div>
</div>

<%- include('../partials/footer') %>